* { 
    box-sizing: border-box;
    outline: none;
    border: none;
    color: blue;
}

body{
    height: 100vh; /*  */
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: blueviolet;

}
input, button{
    width: 200px;
    padding: 12px;
    border-radius: 5px;
    margin: 5px;
}